:root {
    --white-color: #fff;
    --text-color: #333;
    --black-color: #000;
    --primary-color: #ee4d2d;
    --border-color: #dbdbdb;

    --header-height: 120px;
    --navbar-height: 34px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height))
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;;
}

.btn--primary {
    font-size: 15px;
    padding: 8px 20px;
    color: var(--white-color);
    background: var(--primary-color);
    border-radius: 3px;
}

.btn {
    font-size: 15px;
    padding: 8px 20px;
    color: var(--black-color);
    border-radius: 3px;
    background: var(--white-color);
    border: none;
}